*{
  box-sizing: border-box ;  
}
body {
    font-family: Helvetica, Arial, Sans-serif;    
}

header {
    padding: 10px; 
    margin-bottom: 25px;
   float: left;
   width: 100%;
    position: fixed;
    border: dashed black;
    font-family: times;
    font-style: bold;
    line-height: -30%;
}

.container {
    margin-top: 100px;
    width: 50%;
   
    float: left;
}

nav{
    width: 20%;
    float: left;
   

}

div.content {
    float: right;
    width: 50%;
    margin-left: 100px;
   

}

footer {
    margin: 25px;
    padding: 20px;
    clear: both;
     position: bottom;
    border: double black;

    font-weight: lighter;
        font-size: 1.5 em;
        font-family: Helvetica;
        font-style: italic;
        text-align: center;
        line-height: 120% ;
        letter-spacing: 15px ;


}

