*{
  box-sizing: border-box ;  
}

body {
    font-family: "proxima-nova", Helvetica, Arial, Sans-serif;    
    font-weight: lighter;
    letter-spacing: 1px;
    line-height: 125%;
   

}

h1 {
  font-family: "Bebas-neue", Sans-serif;
  color: #412600;
  font-size: 38pt;
  letter-spacing: 8px;
  }




/*row */

.row {
  margin: 0; padding: 0;
  width: 100%;
  clear: both;
}

div.row div.content {
  max-width: 980px;
  margin: 0 auto;
  padding: 20px;
  border: 0;
}

/* Header + Nav */

header {
    margin-bottom: 25px;
    margin: 0 auto;
    width: 100%;
    font-weight: lighter;
    font-size: 1em;
    text-align: center;
    letter-spacing: 2px ;
    padding: 10px;

}

header img{
 margin: 25;
   
     padding: 10px;

}

nav{
    width: 90%;
    margin: auto;
    padding: 10px;
    font-size: 1em;
    font-style: uppercase;
    letter-spacing: 4px;
    color: #333333;
    font-weight: lighter;
}

nav a {
    font-size: 0.8em;
    font-style: uppercase;
    letter-spacing: 4px;
    color: #333333;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: lighter;
}

nav a:hover {
    font-size: 0.8em;
    font-style: uppercase;
    letter-spacing: 4px;
    color: #333333;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: lighter;
}

nav a:active {
    font-size: 0.8em;
    font-style: uppercase;
    letter-spacing: 4px;
    color: #333333;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: lighter;
}


/* Home Image */

.home-image {
    width: 100%;
    margin: 0 auto;
}



/* Our Story */

.ourstory {
    width: 100%;
    padding: 15px;
    background: #f4eee8;
}

.ourstory img{
    width: 40%;
    padding: 15px;
}

.imgbar {
    width: 100%;
}



/* Location */
.location {
    width: 100%;
    margin: auto;
    background-color: #a89e95;
    text-align: center;
    padding: 50px;
    color: white;

}




/* Coffee + Tea */

.coffeetea {
    width: 100%;
    margin: 0 auto;
    padding: 25px 65px 25px 65px;
    text-align: center;
}



/* Product Slide */

.productslide {
    width: 100%;
	background-color: #ede6da;
	padding: 25px;
}


/* Intouch */

.intouch {
    width: 100%;
    margin: auto;
    padding: 15px;
    
}

.intouch p {
   padding-left: 55px;
    padding-right: 20px;
}

.intouch h1 {
   padding-left: 55px;
   padding-right: 20px;
}
 
 .intouch img {
   padding-left: 35px;
   padding-right: 35px;
   width: 35%;
}
 

 

       
/* Footer */

footer {
	text-align: left;
    font-weight: lighter;
    font-size: 0.8em;
    background-color: #baa897;
    line-height: 110%;
}


.footer1 {
	width: 35%;
	text-align: left;
	float: left;
	  background-color: #baa897;

	
}

.footer2 {
	width: 25%;
	padding-left: 10%;
	text-align: left;
	float: left;
	
	
	

}

.footer3 {
	width: 32%;
	padding-left: 15%;
	text-align: left;
	float: left;

	

}
