*{
  box-sizing: border-box ;  
}
body {
    font-family: Helvetica, Arial, Sans-serif;    
}

header {
    padding: 10px; 
    margin-bottom: 25px;
   float: left;
   width: 100%;
    position: none;
    border: dashed black;
}

.container {
    margin-top: 100px;
    width: 100%;
   
    float: left;
}

nav{
    width: 30%;
    float: left;
   

}

div.content {
    float: right;
    width: 30%;
    margin-left: 100px;
   

}

footer {
    margin: 25px;
    padding: 20px;
    clear: both;
     position: bottom;
    border: double black;

}

